.products {
  padding-top: 1.4rem;
}

.products__quantity {
  font-weight: 700;
  font-size: 1.4rem;
  color: #a7a7a7;
}

.products__grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.4rem;
}

.products__box {
  padding: 1rem 0.25rem;
  position: relative;
  text-align: center;
  width: calc(100% / 2);
}

@media screen and (min-width: 992px) {
  .products__box {
    width: calc(100% / 4);
  }
}
