.sidebar {
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 0.2s;
  width: 26rem;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.sidebar.drawer-visible {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sidebar__header {
  backface-visibility: hidden;
  background-color: white;
  height: 5.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.02);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar__header__content {
  padding-left: 2rem;
  padding-right: 1.6rem;
  position: relative;
  height: 5.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}

.sidebar__exit {
  cursor: pointer;
  font-size: 1.2em;
}

.sidebar__header__title {
  font-size: 1.4rem;
  color: #212529;
  line-height: 1.15;
  font-weight: 600;
  font-family: Noto Sans SC, sans-serif;
  margin-left: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left:5rem;
}

.sidebar__search {
  background: #f6f6f6;
  padding: 1rem 1.6rem;
  box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.1);
}

.sidebar__search__input {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  color: #212529;
  font-size: 1.4rem;
  font-weight: 600;
  height: auto;
  outline: none;
  padding: 1rem;
  width: 100%;
}

.sidebar__product-list {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.2rem;
}

.sidebar__empty {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  color: #a7a7a7;
  transform: translate3d(0, -50%, 0);
}

.cart__subtotal {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #212529;
  bottom: 0;
  box-shadow: 0 -0.2rem 2rem 0 rgba(0,0,0,.08);
  color: #fff;
  display: inline-block;
  padding: 1rem 1.6rem;
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;  
}

.header__title {
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  padding-top: .7rem;
  padding-bottom: .7rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 40rem;
  }
}
