.product__image {
  overflow: hidden;
  position: relative;
  width: 30%;
  margin: auto;
}

.product__image img {
  max-height: 400px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.product__image--container {
  width: 50$;
  margin: auto;
}
